/*
Authors: Samuel J. Gervais and Thomas R. Curtan
School: Saint Pius X High School
Email: samgervais512@gmail.com
Discription: The CSS program for the aesthetics of the webpage. 
*/
body {
  text-align: center;
  background-color: #DDD
}

#search {
  height: 10%;
  font-size: 40pt;
  border-radius: 10px;
  outline-width: 0;
  width: 70%; 
}

#displayImg {
  width: 50%;
}

#output {
  display: block;
  margin-left: 0 auto;
  margin-right: 0 auto; 
  text-align: center;
  overflow-x:scroll;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 20pt;
  display: inline-block;
}