body {
  text-align: center;
  background-color: #DDD
}

#search {
  height: 10%;
  font-size: 40pt;
  border-radius: 10px;
  outline-width: 0;
  width: 70%; 
}

#displayImg {
  width: 50%;
}

#output {
  text-align: left;
  width: 70%;
  margin: 0 auto;
  font-size: 20pt;
}